<div class="footer-bar">
  <form action="/auth/logout" method="GET" class="logout-form">
    <button type="submit" class="logout-button">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
    </button>
  </form>

  <div>Total load time:</div>
  <div id="loading"></div>
  <div>server - 5 ms</div>
</div>
