<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{{message}}</title>
  {{>scripts}}
  {{>styles}}
</head>

<body>
<header>
  {{#unless (startsWith currentPath "/auth")}}
    {{>navbar}}
  {{/unless}}
</header>
<main>
  {{{body}}}
</main>
<footer>
  {{#unless (startsWith currentPath "/auth")}}
    {{>footer}}
  {{/unless}}
</footer>
</body>

</html>